body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#game {
    display: flex;
    flex-flow: column;
    align-items: stretch;
}

#game header {
    background: lightblue;
    font-size: 10vh;
    line-height: 15vh;
    text-align: center;
}

#game .instructions {
    font-size: 5vh;
    text-align: center;
}

#game form {
    display: flex;
    flex-flow: column;
    align-items: stretch;
}

#game form input, #game form button {
    margin: 2vh;
    font-size: 5vh;
}